[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
pandas-datareader = "*"
beautifulsoup4 = "*"
scikit-learn = "*"
lxml = "*"

[requires]
python_version = "3.6"
